@keyframes showimg {

    from {
        transform: scaleX(0);
    }

    to {
        transform: scaleX(1);
    }

}

@keyframes hide {

    from {
        transform: scaleX(1);
    }

    to {
        transform: scaleX(0);
    }

}

@keyframes pop {

    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }

}

@keyframes text {

    from {
        transform: translateY(50px);
        opacity: 0;
    }

    to {
        transform: translateY(0px);
        opacity: 1;
    }

}

@keyframes title {

    from {
        transform: translateY(50px) skewX(10deg);
        opacity: 0;
    }

    to {
        transform: translateY(0px);
        opacity: 1;
    }

}