.img-container {
    margin-bottom: 200px;
    position: relative;
    width: 90vw;
    margin: 0 auto;
    height: 500px;
    opacity: 0;

    &.animate {
        opacity: 1;

        .img-cover-purple {
            animation: showimg 1.2s ease-in-out 500ms;


            &::before,
            &::after {
                animation: hide 1.2s ease-in-out 1s;
                animation-fill-mode: forwards;
            }
        }

        .img-cover-white {

            &::before,
            &::after {
                animation: hide 1.2s ease-in-out 500ms;
                animation-fill-mode: forwards;
            }
        }

    }

    &>div {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;

        &::before,
        &::after {
            content: '';
            position: absolute;
            height: 100%;
        }

        &::before {
            right: 0;
            transform-origin: right;
        }

        &::after {
            left: 0;
            transform-origin: left;
        }


    }

    .img-cover-purple {
        z-index: 2;

        &::before,
        &::after {
            width: 35%;
            background-color: $purple;
        }

    }

    .img-cover-white {
        z-index: 4;

        &::before,
        &::after {
            width: 52%;
            background-color: $background;
        }

    }

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}