.img-container {
    margin-bottom: 200px;
    position: relative;
    width: 90vw;
    margin: 0 auto;
    height: 500px;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}