@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import 'variables.scss';
@import 'header.scss';
@import 'categories.scss';
@import 'hero.scss';
@import 'jobs.scss';

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html {
    font-family: 'Roboto', sans-serif;
    background: $background;
    height: 500vh;
}


.title-container {
    width: 80vw;
    margin: 100px auto 50px;
    overflow: hidden;

    h1 {
        font-size: 50px;
    }
}