@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
header {
  position: fixed;
  display: block;
  top: 0;
  width: 100%;
  z-index: 10;
  background: rgba(255, 255, 255, 0);
}

header .header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0px;
  width: 80vw;
  margin: 0 auto;
}

header .header-container h1 {
  font-size: 20px;
}

.categories-container {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.categories-container .category-item {
  background: white;
  min-width: 150px;
  width: 19%;
  height: 170px;
  margin-bottom: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 40px 20px;
}

.categories-container .category-item:nth-child(6) {
  margin-left: 20%;
}

.categories-container .category-item span {
  display: block;
}

.img-container {
  margin-bottom: 200px;
  position: relative;
  width: 90vw;
  margin: 0 auto;
  height: 500px;
}

.img-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.jobs-container {
  display: flex;
  justify-content: space-between;
  width: 80vw;
  margin: 0 auto;
}

.jobs-container .img-container {
  flex: 1;
  width: 200px;
  height: 400px;
  margin-right: 50px;
}

.jobs-container .categories-container {
  flex: 2;
  margin-left: auto;
  justify-content: flex-end;
}

.jobs-container .categories-container .category-item {
  height: 300px;
  width: 45%;
  margin-bottom: 20px;
  margin-right: 20px;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
  background: #f5f7fa;
  height: 500vh;
}

.title-container {
  width: 80vw;
  margin: 100px auto 50px;
  overflow: hidden;
}

.title-container h1 {
  font-size: 50px;
}
